/*  FUENTES */
@font-face{
    src: url(font/Member.otf);
    font-family: "member";
}

*{
    margin:0;
    padding:0;
}
body{
    background-image: url(images/fondo-estrella.png);
}
/* barra de nav */
nav{
    float: right;
}
.listaNav :hover{
    background-color: rgba(100, 148, 237, 0.5);
}
ul{
    list-style: none;
}
li a {
    background-color: rgba(9, 55, 92, 0.5);
    text-decoration:none;
    padding:4px 10px;
}
/*logo*/
.logo{
    width: 20%;
    height: 15%;
    float: left;
    margin-left: 7%;
    margin-top: 1%;
    
}
/*titulo*/
.tituloserie{  
  color: yellow;
}
/*imagenes index*/
#padreImagenes{
    margin-top: 40px;
}
.img{
    margin-left: 15%;
}
.row{
    margin-top: 10px;
}
#tamanioImagen{
    margin-top:20px;
    height: 250px;
    width: 300px;
}
h1{
    font-size: 100%;
}
@media screen and (min-width:600px){
/*logo*/
    .logo{
        width: 15%;
        margin-left:3%;
        margin-top: 10px;
        
    }
/*titulo*/
#tituloSeries{  
  color: yellow;
}

#formTabla{
    width: 27%;
}

} /*FIN MEDIDA PANTALLA*/

/*--- Tabla de capitulos---*/
.imagenPortada{
    width: 40%;
    margin: 3% 30%;

}
#tituloSerie {
    margin-top: 10%;
    text-align: center;
    color:rgb(201, 255, 6);
    font-size: 500%;
    font-family: "member";
}

table{
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
    color: rgba(60, 255, 0, 0.856);
}

 table,th, td {
    background-color: rgba(0, 102, 128, 0.356);
    border: 5px solid rgb(0, 90, 38);
    border-collapse: collapse;  
    padding: 10px;
    text-align: center;
}

th, tbody {
    text-align: center;
}    

/*estilo botones en pagina con tabla*/
.btn-tabla, .enviarCap{
    margin-left: 5%;
    margin-bottom: 2%;
    display: block;

    font-size: 16px;
    background-color: blueviolet;
    border-radius: 50px;
    border-color: chartreuse;
    text-decoration: none;
    color: #fff;
    padding: 0.5%;
}


/*FORMULARIO DE LA PÁGINA TABLA*/

#formTabla{
    margin: auto;
    margin-bottom: 10%;
    padding: 2%;
    /*width: 50%;*/
    background-color:rgba(2, 80, 99, 0.719);
}

input, textarea{
    display: block;
    margin-bottom: 1%;
    width: 90%;
}




