*{
    padding: 0;
    border: 0;
}
body{
    background-image: url(images/fondo-estrella.png)
}
/*Barra nav*/
nav{
    float: right;
    font-size:18px;
    margin-top: 0;
}
li a :hover{
    background-color: rgba(9,55,92,0.5);
}
/*logo*/
.logo{
    width: 15%;
    height: 20%;
    margin-right: 0;
}
/*imagenes Index*/
.card{
    width: 300px;
}
.altura{
    height: 200px;
    width: 299px;
}
#margenImgIndex{
    margin-top: 10%;
    margin-left: 10%;
}
/*Titulo*/
.titulo{
    color: rgb(229, 255, 0);
    margin-left: 9%;
    margin-top: 3%;
}
.listaFooter{
    margin-left:5%;
    display: inline;
}
#sociaFooter{
    color:  rgb(0, 119, 255);
    margin-left: 5%;
}
.listaFooter,#sociaFooter{
    font-size: 20px;
}
@media only screen and (min-width:600px){
    /*Barra nav*/
    nav{
        font-size:35px;
        margin-left: 150px;
    }
    nav,.logo{
        float: left;
    }
    /*logo*/
    .logo{
        margin-right: 0;
    }
    #categoriaNav{
        font-size: 25px;
        color: dodgerblue;
    }
    /*Imagenes index*/
    #margenImgIndex{
        margin-left: 5%;
        margin-top: 5%;
    }
    ul.row{
        margin-left: 100px;
    }
   /*Titulo*/
    .titulo{
        margin-top: 100px;
        margin-left:25%;
        font-size: 80px;
        clear: both;
    }
}
